body{
    background-color: rgb(246, 255, 0);
    margin:auto;
}



header{
    background-color: chartreuse;
    height: 7.5em;
    text-align: center;
    line-height: 7em;
}



section{
    background-color: rgb(206, 104, 254);
    width: 100%;
    height: 21em;
}
aside{
    background-color: blue;
    width: 20%;
    height: 25em;
    text-align: center;
    line-height: 20em;
}
p{
    text-align: center;
    margin: -15em;
    width: 100%;
    margin-left: 8em;
}



footer{
    background-color: rgb(55, 198, 255);
    width: 100%;
    height: 7.5em;
    text-align: center;
    line-height: 7em;
}
