body{
    background-color: rgb(0, 0, 0);
    margin: 0%;
}

header{
    background-color: chartreuse;
    width: 100%;
    height: 7.5em;
    text-align: center;
    line-height: 7em;
}
section{
    background-color: rgb(206, 104, 254);
    width: 100%;
    height: 21em;
    text-align: center;
    line-height:20em; 
}
footer{
    background-color: rgb(55, 198, 255);
    width: 100%;
    height: 7.5em;
    text-align: center;
    line-height: 7em;
}
